<div class="container">
    <div class="row">
        <div class="show">

        </div>
        <div class="col-md-10 offset-md-1 list">
            <%if(url[0]!=null){%>
                <table class="table">
                    <tr>
                        <th scope="col">url</th>
                        <th scope="col">Short url</th>
                    </tr>
                    <%url.forEach(data=>{%>
                        <tbody>
                            <tr>
                                <td>
                                    <%=data.url%>
                                </td>
                                <td>
                                    <%=data.short_url%>
                                </td>
                            </tr>
                        </tbody>
                        <%})%>
                </table>
                <%}else{%>
                    <div class="row">
                        <div class="col-md-4">
                            <h3>
                                <i class="fas fa-link"></i>
                                Shorten
                            </h3>
                            <p>
                                Hello Shorten your URL so it’s ready to be shared everywhere
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h3>
                                <i class="fas fa-angle-right"></i>
                                Track
                            </h3>
                            <p>
                                Analytics help you know where your clicks are coming from
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h3>
                                <i class="fas fa-users"></i>
                                Learn
                            </h3>
                            <p>
                                Understand and visualize your audience
                            </p>
                        </div>
                    </div>
                    <%}%>
        </div>
    </div>
</div>