<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-6">Simplify your links</h1>
        <div class="input-group mb-3">
            <input type="text" id="url" class="form-control" placeholder="Your original URL here" aria-describedby="basic-addon2" required>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="submit">SHORTEN URL</button>
            </div>
        </div>
    </div>
</div>