<!DOCTYPE html>
<html lang="en">
<%include ../layouts/head%>

    <body>
        <%include ../layouts/navbar%>
            <%include ../layouts/login-form%>
            <%include ../layouts/footer%>
                <%include ../layouts/script%>

    </body>

</html>