<!DOCTYPE html>
<html lang="en">
<%include ../layouts/head%>

    <body>
        <div class="container" style="margin-top:100px">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h2>
                        <i class="fa fa-exclamation-triangle" style="color:red"></i>
                        Page not found
                        <small>404 error</small>
                    </h2>
                    <p>go to <a href="/">Home Page</a>
                        <br>
                    </p>
                </div>
            </div>
        </div>
        <%include ../layouts/script%>

    </body>

</html>